/* Estilos para el contenedor principal */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    margin-top: 10%;
    margin-bottom: 10%;
    display: none;
  }
  
  .titulo-gestor {
    font-size: 6ch;
    text-align: center;
    font-weight: bold;
    color: white;
    display: none;
    text-align: center;
    color: white;
    padding: 6vh;
    display: none;
    align-items: center;
    background: linear-gradient(90deg, red, darkblue);
    background-size: 200% 200%;
    animation: gradient 3s ease-in-out infinite;
  }
  /* Estilo para pantallas pequeñas */
  
  
  @media (max-width: 600px) {
    .titulo-gestor {
      font-size: 4vh;
      padding: 3vh;
      margin-top: 8vh;
    }
  }
  
  /* Estilo para pantallas medianas */
  @media (min-width: 768px) and (max-width: 1024px) {
    .titulo-gestor {
      font-size: 5vh;
      padding: 4vh;
    }
  }
  
  /* Estilo para pantallas grandes */
  @media (min-width: 1024px) {
    .titulo-gestor {
      font-size: 6ch;
      padding: 6vh;
  
    }
  }
  
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  /* Estilos para la cabecera de la lista de estudiantes */
.cabeza-estudiantes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007f5f;
    color: #fff;
    padding: 10px;  
    border-radius: 5px;
  }
  
  /* Estilos para la lista de estudiantes */
  .student-list {
    margin-top: 20px;
  }
  
  /* Estilos para el modal */
  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    
  }
  
  .modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 5px;
  }
  
  /* Estilos para el botón de cerrar del modal */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Estilos para los campos de entrada del formulario */
  input[type="text"],
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  /* Estilos para las etiquetas de los campos de entrada del formulario */
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 6px;
  }
  
  /* Estilos para la lista de estudiantes */
  ul {
    list-style: none;
    padding: 0;
  }
  
  /* Estilos para los elementos de la lista de estudiantes */
  li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  
  .button-group {
    display: flex;
    align-items: center;
    min-height: 50px;
    margin-top: 10px;
  }
  
  /* Estilos para los botones */
  
  button {
    padding: 5px 10px;
    border: none;
    background-color: #2ecc71;
    color: #fff;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #27ae60;
  }
  
  /* Estilos para el diálogo de confirmación */
  .dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    overflow: auto; /* para permitir el desplazamiento en caso de que el contenido sea demasiado grande para la pantalla */
  }
  
  .dialog p {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #fff;
  }
  
  .dialog button {
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .dialog button:hover {
    background-color: #27ae60;
  }
  
  .dialog .btn-ok {
    background-color: #dc3545;
  }
  
  .dialog .btn-ok:hover {
    background-color: #c82333;
  }
  
  @media (max-width: 600px) {
    .student-info {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    
    .student-info h3 {
      margin-bottom: 0;
    }
    
    .student-actions {
      margin-top: 10px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  
    .student-actions button:last-child {
      margin-left: 10px;
    }
  
    .dialog {
      flex-direction: column;
    }
  
    .dialog button {
      margin-top: 1rem;
      margin-left: 0;
    }
  }

  /*HEADER*/

* {
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif; /* Tipo de letra del footer */
  
  }
  
  .header {
    display: flex;
    position: relative;
    align-items: center;
    z-index: 999; 
    justify-content: space-between;
    padding: 10px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
    position: sticky;
      top: 0;
  
  }
  
  .logo {
    display: block;
    width: 8vh;
    height: 8vh;     
  }
  
  .logo img {
    width: 100%;
    height: 100%;
  }
  
  .header-right {
    display: flex;
    align-items: center;
  }
  
  .header-right a {
    display: block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    transition: 0.2s;
    
  }
  
  .header-right a:hover {
    transform: scale(1.1);
    color: #88c426
  
  }
  
  .header-right .cta{
    display: block;
    padding: 10px 20px;
    color: white;
    background-color: #007f5f;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.2s;
  
  }
  
  .header-right .cta:hover {
    background-color: #860000;
    color:white;
  }
  
  .cta {
    display: block;
    padding: 10px 20px;
    color: white;
    background-color: #007f5f;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.2s;
  }
  
  .cta:hover {
    background-color: #860000;
    color:white;
  }
  
  @media screen and (max-width: 600px) {
    
    /*Esconde el elemento header-right por default */
  
    .header{
      position: fixed;
      top: 0;
      width: 100%;
      padding: 0 50px;
  
    }
    .header-right {
      display: none;
      flex-direction: column;
      position: fixed;
      top: 8%;
      right: 0;
      width: 100%;
      height: auto;
      background-color: #f0f0f0;   
      height: 100vh; /* Hacer que el elemento de header-right cubra verticalmente toda la pantalla */
      box-shadow: -2px -2px 5px rgba(0,0,0,0.1);
      z-index: 999;        
    }
    
    /* Mostrar el elemento header-right cuando la hamburguesa está activa */
    .hamburger.active ~ .header-right {
      display: flex;        
    }
    
    /* Cree el elemento hamburguesa con tres líneas */
    .hamburger {
      display:flex;        
      flex-direction:column;        
      justify-content:center;        
      width:30px;        
      height:30px;        
      cursor:pointer;        
     
    }
    
    /* Estilizar las lineas del elemento hamburguesa */
    .hamburger span {        
      display:block;        
      width:100%;        
      height:4px;        
      background-color:#333;        
      margin-bottom:4px;        
      border-radius:2px;        
      transition:border-radius 0.3s ease-in-out, transform 0.3s ease-in-out, opacity 0.3s ease-in-out;        
    }
    
    /*Eliminar el margen de la última línea del elemento hamburguesa */
     .hamburger span:last-child {         
       margin-bottom:none;         
     }
     
     /*Cambiar la forma de las líneas del elemento hamburguesa cuando está activo */
     .hamburger.active span {         
       border-radius:none;         
     }
     
     /*Girar y desplazar la primera línea del elemento hamburguesa cuando está activo */
     .hamburger.active span:first-child {         
       transform : rotate(45deg) translate(6px,6px);         
     }
     
     /* Ocultar la segunda línea del elemento hamburguesa cuando está activo */
     .hamburger.active span:nth-child(2) {         
       opacity : 0;         
     }
     
     /*Girar y desplazar la tercera línea del elemento hamburguesa cuando está activo*/
     .hamburger.active span:last-child {         
       transform : rotate(-45deg) translate(6px,-6px);         
     }
    
    /* Cambiar el estilo de los enlaces */
    .header-right a {
      text-align: center;
      margin-top: 1vh;
      margin-bottom: 1vh;
      box-shadow:-2px -2px 5px rgba(0,0,0,0.1);        
      transition:border-radius 0.3s ease-in-out, box-shadow 0.3s ease-in-out;        
    }
    
    /* Quitar el radio del borde y la sombra de la caja de los enlaces de cabecera-derecha cuando se pasa el ratón por encima. */
     .header-right a:hover {        
       border-radius:none;         
       box-shadow:none;         
     }
    
     /* Cambiar el estilo del enlace cta */
     .cta {         
       margin-top:20px;         
       margin-bottom:20px;         
       border-radius:none;         
       box-shadow:-2px -2px 5px rgba(0,0,0,0.1);         
       transition:border-radius 0.3s ease-in-out, box-shadow 0.3s ease-in-out;         
     }
     
     /* Quita el border radius y box shadow del hover de cta*/
     .cta:hover {         
       border-radius:none;         
       box-shadow:none;         
     }
     
     /* Esconde el CTA cuando la hamburguesa esta inactiva*/
     .hamburger:not(.active) ~ .header-right .cta {         
       display:none;         
     }
     
     /* Muestra el link CTA cuando la hamburguesa esta activa */
     .hamburger.active ~ .header-right .cta {         
       display:block;         
     }
     
  }
  
  @media screen and (min-width:501px) and (max-width :800px) { 
    
   /* Cambia el tamaño del logo entre esos rangos de resoluciones */
   .logo {         
     width:8vh;
     height:8vh;       
  
   }
   
  }